:root {
  --color-primary: #035c96;
  --color-secondary: #01203f;
  --color-complementary: #ff3131;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background: #f4f6f9;
  overflow: hidden;
}

.auth-container .back-to-home-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;    
  width: 900px;            
  padding: 1rem;          
  cursor: pointer;        
  font-size: 1rem;
  color: var(--color-secondary);
}
.auth-box {
  display: flex;
  width: 900px;
  height: 550px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  transition: transform 0.6s ease-in-out;
}

/* Image Side */
.auth-image-side {
  flex: 1;
  background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
  background-image: linear-gradient(135deg, #035c96, #01203f);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.auth-logo {
  width: 100%;
}

.brand-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.logo-container {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Form Side */
.auth-form-side {
  flex: 1.2;
  padding: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: all 0.6s ease;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 350px;
  transform: translate(-50%, -50%);
  transition: all 0.6s ease;
  opacity: 0;
  pointer-events: none;
}

.login-form {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%);
}

.form-container .signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;
  flex-wrap: nowrap;
  flex-direction: column;
}

.form-container .signup-form {
  transform: translate(150%, -50%);
}

.signup-active .login-form {
  opacity: 0;
  pointer-events: none;
  transform: translate(-150%, -50%);
}
.signup-active .signup-form {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%);
}

.form-container h2 {
  font-family: "Montserrat", sans-serif;
  color: var(--color-secondary);
}

.form-container p {
  color: #555;
  margin-bottom: 1.5rem;
}

form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.95rem;
}

.form-options {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 0.85rem;
}

.form-options label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-options a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.85rem;
  margin-bottom: 1.2rem;
}

.checkbox span {
  color: var(--color-complementary);
  cursor: pointer;
}

.auth-btn {
  width: 100%;
  padding: 10px;
  background: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.auth-btn:hover {
  background: var(--color-secondary);
}

.toggle-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.toggle-link {
  margin-left: .3rem;
  color: var(--color-complementary);
  font-weight: 600;
  cursor: pointer;
}

/* MODAL */
.auth.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.auth.privacy-content p {
  color: #222;
  line-height: 1.25;
  text-align: justify;
  padding: 0 15px;
}
.auth.privacy-content .date-update {
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0;
}

.auth.close-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0%;
  background-color: white;
}
.footer.modal-close {
  background: #444;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.link-button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  text-align: left;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 100px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.auth .privacy-modal {
  background: white;
  width:35vw;
  height: 80vh;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
}

.auth .privacy-content {
  overflow-y: auto;
  padding-right: 10px;
  flex-grow: 1;
  font-size: 0.95rem;
}

.auth .span-color-red{
  color: var(--color-complementary);
  font-weight: 600;
}
.auth .modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.auth.modal-close {
  padding: 8px 18px;
  background: var(--color-primary);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.auth.modal-close:hover {
  background-color: var(--color-secondary);
  scale: 1.02;
}
