@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --color-primary: #035c96;
  --color-secondary: #01203f;
  --color-complementary: #ff3131;
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Nunito', sans-serif;
}

* MODAL */
.footer.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.footer.modal-title{
  background-color: white;
  margin: 0;
  padding: 0 0 10px 0;
}

.footer.privacy-content p {
  line-height: 1.25;
  text-align: justify;
  padding: 0 15px;
}
.footer.privacy-content .date-update {
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0;
}

.footer.close-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0%;
  background-color: white;
}
.footer.modal-close {
  background: #444;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.link-button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  text-align: left;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 100px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.footer .privacy-modal {
  background: white;
  width:35vw;
  height: 80vh;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
}
.footer .privacy-content-container {
  flex-grow: 1;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  padding: 10px 0 10px 0;
  background-color: white;
  color: var(--color-secondary);
  text-align: justify;
}

.footer .privacy-content {
  padding: 0;
  font-size: 0.95rem;
  background-color: white;
  color: var(--color-secondary);
}

.footer .span-color-red{
  color: var(--color-complementary);
  font-weight: 600;
}
.footer .modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.footer.modal-close-button {
  padding: 8px 18px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}
.footer.modal-close:hover {
  background-color: var(--color-secondary);
  scale: 1.02;
}