:root {
  --color-primary: #035c96;
  --color-secondary: #01203f;
  --color-complementary: #ff3131;
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Nunito', sans-serif;
}

/* Logout Modal */
.logout-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.logout-modal {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  font-family: var(--font-body);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-modal h3 {
  margin-bottom: 10px;
  font-family: var(--font-heading);
  color: var(--color-primary);
}

.logout-modal p {
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.logout-modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.cancel-modal-btn {
  background: #ccc;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.cancel-modal-btn:hover {
  background: #b3b3b3;
}

.confirm-modal-btn {
  background: var(--color-complementary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.confirm-modal-btn:hover {
  opacity: 0.85;
}

/* notification */
.top-popup.negative, .top-popup.positive {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: red;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: slideDown 0.4s forwards;
}
.top-popup.positive{
  background: #4caf50;
}

@keyframes slideDown {
  from { top: -60px; }
  to { top: 20px; }
}
