:root {
  --color-primary: #035c96;
  --color-secondary: #01203f;
  --color-complementary: #ff3131;
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Nunito Sans', sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: #f8f9fa;
  color: var(--color-secondary);
}

.viewall-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.line-before-filters{
    margin-bottom: 1rem;
}

.sidebar {
  flex: 0 0 250px;
  padding: 1rem;
  border-radius: 5px;
  height: fit-content;
}

.sidebar h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color-secondary);
}

.filter-list {
  list-style: none;
  margin-bottom: 1.5rem;
}

.filter-list li {
    margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-family: var(--font-secondary);
}

.main-content {
  flex: 1;
}

.view-all-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.view-all-header h2 {
  font-size: 1.5rem;
  color: var(--color-secondary);
}

.sort-section label{
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}
.sort-section select {
  padding: 0.4rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.sort-section select option{
  color: var(--color-secondary);
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.book-grid .book-card {
  min-width: 200px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 315px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* .book-grid .book-card:hover {
  transform: translateY(-5px);
} */

.book-grid .book-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
}

.book-grid .book-card .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: var(--color-complementary);
  color: #fff;
  font-size: 0.75rem;
  padding: 3px 15px;
  border-radius: 2px;
}

.book-grid .book-card .book-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.book-grid .book-card .book-title{
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0.3rem 0;
  cursor: pointer;
}

.book-grid .book-card .book-author {
  color: #555;
  font-size: 0.7rem;
  flex-grow: 1;
}

.book-grid .book-card .book-price {
  text-align: right;
  font-weight: bold;
  color: var(--color-secondary);
  margin: 6px 0;
}

.book-grid .book-card .book-price.old{
  font-size: 12px;
  text-decoration: line-through;
  color: #555;
  margin: 0;
}

.book-grid .book-card  .book-sold-price{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.book-grid .book-card .book-sold{
  font-size: 12px;
  font-weight: bold;
  color: #555;
  margin: 5px 0;
}

.book-grid .book-card .add-to-cart {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-grid .book-card .add-to-cart:hover {
  background-color: var(--color-secondary);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: .8rem;
  margin-top: 1.5rem;
}

.pagination .page-btn {
  background: white;
  border: 1px solid var(--color-secondary);
  padding: 0.7rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.pagination .page-btn.active {
  color: var(--color-complementary);
  scale: 1.1;
  border: 2px solid var(--color-complementary);
}

.pagination .page-btn:hover {
  scale: 1.03;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .viewall-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .book-grid {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .book-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
/* 
  .sidebar {
    display: none;
  } */
}
