
.wishlist-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  margin: 0 4rem;
}

.wishlist-container .book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.wishlist-container .book-grid .book-card {
  min-width: 200px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 315px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* .book-grid .book-card:hover {
  transform: translateY(-5px);
} */

.wishlist-container .book-grid .book-card .book-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
}

.wishlist-container .book-grid .book-card .trash-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: var(--color-complementary);
  color: #fff;
  font-size: 0.75rem;
  padding: 7px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.wishlist-container .book-grid .book-card .trash-badge:hover{
  scale: 1.1;
}

.wishlist-container .book-grid .book-card .book-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.wishlist-container .book-grid .book-card .book-title{
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0.3rem 0;
  cursor: pointer;
}

.wishlist-container .book-grid .book-card .book-author {
  color: #555;
  font-size: 0.7rem;
  flex-grow: 1;
}

.wishlist-container .book-grid .book-card .book-price {
  text-align: right;
  font-weight: bold;
  color: var(--color-secondary);
  margin: 6px 0;
}

.wishlist-container .book-grid .book-card .add-to-cart {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wishlist-container .book-grid .book-card .add-to-cart:hover {
  background-color: var(--color-secondary);
}


